// configurações site
$corPrincipal: red;
$corSecundaria: red;
$corTituloSection: #000;
$font: 'Roboto', sans-serif;
$fontSize: 14px;
$fontWeight: 400;
$background: #fff;

//tooltip's
$tooltipTamanho: 22px;
$tooltipSeta: 6px;
$tooltipCor: #323232;
$tooltipTextoCor: #ecf0f1;