@import "compass";
@import "config";
@import "mixins";
@import "init";

// layout
.responsive {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  height: auto;
}

.fluid {
  width: 100%;
  height: auto;
  float: left;
  clear: both;
}

/******************************
* Estrutura interna
*******************************/

/******************************
* swipper
*******************************/
.swiper-wrapper {
  opacity: 0;
}

#destaque {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
  }
}

#destaque {
  .swiper-container-horizontal {
    &.swiper-pagination-bullets {
      bottom: 20px;
    }
  }
}

.swiper-button-disabled {
  cursor: no-drop !important;
}

/******************************
* Helper
*******************************/

.centraliza {
  //noinspection CssInvalidPropertyValue
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  /* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/******************************
* Menu mobile
*******************************/
.title-bar {
  background: $corSecundaria !important;
}

.m-mobile {
  background: #fff !important;

  ul {
    margin: 50px 0 0 0;

    a {
      color: $corSecundaria !important;
      @include mp-animacao;

      &:hover {
        background: $corPrincipal;
        color: #fff !important;
      }
    }
  }
}

.menu {
  &.vertical {
    & > li {
      width: 100%;
      float: left;
    }
  }
}

.js-off-canvas-overlay {
  background: rgba(0, 0, 0, 0.6) !important;
}

.close-button {
  color: $corSecundaria !important;
  @include mp-animacao;

  &:hover {
    color: $corPrincipal !important;
  }
}

.divider {
  width: 100%;
  height: 1px;
  float: left;
  background: $corSecundaria;
  opacity: .1;
  margin: 5px 0;
}

